<div>
    <h2 id="page-heading">
        <span>Monies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-money" [routerLink]="['/money/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Money
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="monies?.length === 0">
        <span>No monies found</span>
    </div>
    <div class="table-responsive" *ngIf="monies?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Count</span></th>
            <th><span>Name</span></th>
            <th><span>Purse</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let money of monies ;trackBy: trackId">
                <td><a [routerLink]="['/money', money.id, 'view' ]">{{money.id}}</a></td>
                <td>{{money.count}}</td>
                <td>{{money.name}}</td>
                <td>
                    <div *ngIf="money.purse">
                        <a [routerLink]="['../purse', money.purse?.id, 'view' ]" >{{money.purse?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/money', money.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/money', money.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'money', { outlets: { popup: money.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
